.container {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.container_1 img {
    width: 400px;
    height: 450px;
    animation: fadeInfromTop 1s linear forwards, floating ease 5s infinite;
    align-items: center;
}

@keyframes fadeInfromTop {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating {
    0% {
        transform: translate(5%, 0%) rotate(360deg);
    }
    25% {
        transform: translate(10%, 0%) rotate(360deg);
    }
    50% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    75% {
        transform: translate(10%, 0%) rotate(360deg);
    }
    100% {
        transform: translate(5%, 0%) rotate(360deg);
    }
}


h3 {
    color: aliceblue;
}



.about-me {
    text-align: justify;
    border-radius: 25px;
}

.about-me p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 25px;
    text-indent: 50px;
}
.about-me h3 {
    text-decoration: none;
    color: rgb(46, 27, 45);
    font-family: 'Helios';
    font-size: 1.5rem;
    font-weight: 300;
    text-align: end;
}
.about-me h1 {
    background: linear-gradient(to right,#a21af0,#ff0071);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Helios';
    font-size: 2.2rem;
    font-weight: 500;
    text-align: end;
    padding-bottom: 0px;
}
@media (max-width: 767px) {
    .about-me h3 {
        font-size: 2rem;
        text-align: center;
    }
    .about-me P {
        font-size: 1.5rem;
    }
    .about-me h1{
        font-size: 2.2rem;
        word-spacing: 5px;
        letter-spacing: 0;
    }
}
.about-me a {
    color: brown;
    text-decoration: none;
}

.icon {
    justify-content: center;
    vertical-align: middle;
    color: #ff0071;
}