#experience {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff0071, #a21af0);
}

#experience h2 {
  text-transform: uppercase;
  font-family: "Sigmar";
  color: white;
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#experience h3 {
  font-family: "Helios";
}

.exp {
  display: flex;
  vertical-align: middle;
}

.experience {
  position: relative;
  justify-content: center;
}
