.navbar img {
  height: 35px;
  cursor: pointer;
}
.navbar img:hover {
  animation: shake ease 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(5%, 0%) rotate(365deg);
  }
  25% {
    transform: translate(10%, 0%) rotate(355deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(365deg);
  }
  75% {
    transform: translate(10%, 0%) rotate(355deg);
  }
  100% {
    transform: translate(5%, 0%) rotate(365deg);
  }
}

.navbar {
  background-color: rgb(0, 0, 0);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.295);
  z-index: 1;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  height: 65px;
  z-index: 100000;
}

.active {
  animation: glow 1s ease-in-out infinite alternate;
  padding-bottom: 0;
  font-family: "Helios";
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav a:hover {
  background: linear-gradient(to right, #a21af0, #ff0071);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.navbar a.active {
  font-family: "Helios";
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  border-radius: 50px;
  margin-left: 5px;
  margin-top: 3px;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-family: "Helios";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fff;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #a21af0, 0 0 15px #ff0071,
      0 0 20px #a21af0, 0 0 25px #ff0071;
  }
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 13px;
  }
  .navbar img {
    height: 25px;
  }
}

li {
  padding: 0;
  margin: 0;
}

button {
  background: linear-gradient(to right, #a21af0, #ff0071);
}

svg {
  fill: #ff0071;
  transition: all 0.3s ease;
  display: inline-block;
  -webkit-transition: fill 0.4s ease;
  -moz-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

svg:hover {
  fill: url(#gradient);
}
